$fontFamily: "Roboto", sans-serif;

$color-black: #000;
$color-black-800: #100d0e;

$color-white: #fff;
$color-white-100: #f0f0f0;
$color-white-500: #e5e5e5;

$color-gray: #c4c4c4;
$color-gray-300: #b9b7b7;
$color-gray-500: #7d7d7d;
$color-gray-700: #303030;
$color-gray-800: #292929;

$color-red: #ff0000;
