*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: #000;
}

.header{
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 29px 0px;
}

.main-banner-img{
    width: 100%;
}

.main-banner-mobile{
    display: none;
}

.top-infocard{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding-top: 4%;
    margin-bottom: 9.4%;
}

.top-infocard-text{
    width: 40.25%;
    margin-bottom: 4.42%;
}

.top-infocard-subtitle{
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.top-infocard-title{
    display: flex;
    justify-content: center;
    margin-bottom: 3.66%;
    font-weight: 500;
    font-size: 48px;
}

.top-infocard-description{
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image{
    width: 16.6%;
}

.top-cards{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 4.2%;
    gap: 2%;
}

.card-imgs{
    width: 37.6%;
}

.top-card-images{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.top-card{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.23);
    width: 18.4%;
    padding: 2%;
}

.top-card-description{
    text-align: center;
}

.middle-banner{
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    margin-bottom: 10.02%
}

.middle-banners{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 6.4vmin;
    gap: 2.3%;
}

.middle-banner-imgs{
    width: 29.28%;
}

.botton-cards{
    display: flex;
    justify-content: center;
    width: 92.4%;
    gap: 1%;
}

.botton-card{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.botton-card-img{
    width: 24%;
    margin-top: 7.4%;
    align-self: center;
}

.botton-card-description{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 3.3% 7.63% 15%;
}

.botton-card-img-cell{
    margin-top: 7.4%;
    width: 19.5%;
    align-self: center;
}

.botton-crd{
    display: flex;
    justify-content: center;
    margin-bottom: 5.68%;
}


.bottom-infocard{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6.1%;
}

.bottom-infocard-img{
    width: 71.5%;
}

.bottom-infocard-title{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.bottom-infocard-text{
    max-width: 29%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 2.63%;
}

.bottom-infocard-description{
    font-size: 16px;
    line-height: 130%;
    height: 94%;
}

.footer{
    justify-content: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 2.23% 0;
    height: 120px;
}

.texto-footer{
    color: #BDBDBD;
    align-self: center;
    font-size: 10px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0.4%;
}

.lista-logo{
    margin: 0 0.5%;
    display: flex;
}

.imagens-logo{
    width: 1.25vw;
}

.middle-banners-mobile{
    display: none;
}

.bottom-infocard-img-mobile{
    display: none;
}

@media screen and (min-width:2501px){
    .top-infocard-title{
        font-size: 96px;
    }

    .top-infocard-subtitle{
        font-size: 64px;
    }

    .top-infocard-description{
        font-size: 32px;
        line-height: 48px;
    }

    .top-card-description{
        font-size: 32px;
        line-height: 48px;
    }

    .botton-card-description{
        font-size: 32px;
        line-height: 48px;
    }

    .bottom-infocard-title{
        font-size: 64px;
        line-height: 76px;
    }

    .bottom-infocard-description{
        font-size: 32px;
        line-height: 48px;
    }

    .texto-footer{
        font-size: 20px;
        line-height: 24px;
    }
}


@media screen and (max-width: 1024px) {

    .main-banner-mobile{
        display: block;
        margin-bottom: 17.65%;
    }

    .main-banner-desktop{
        display: none;
    }
    .bottom-infocard-img{
        display: none;
    }
    .bottom-infocard-img-mobile{
        display: block;
        margin-bottom: 12%;
        width: 100%;
    }

    .top-infocard-title{
        font-size: 28px;
    }

    .top-infocard-subtitle{
        font-size: 20px;
    }

    .bottom-infocard-title{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 2.6%;
    }

    .main-banner-desktop{
        display: none;
    }

    .top-infocard-text{
        width: 93.26%;
        margin-bottom: 15.72%;
    }

    .botton-crd{
        margin-bottom: 23.7%;
    }

    .top-infocard-image{
        width: 57.8%;
    }

    .top-card-description{
        margin-bottom: 8%;
    }

    .top-cards,.botton-cards{
        gap: 5vmin;
        flex-direction: column;
        align-items: center;
    }

    .top-card{
        width: 84.7%;
    }

    .top-cards{
        margin-bottom: 19.4%;
    }

    .top-infocard{
        margin-bottom: 22%;
    }

    .top-infocard-description{
        text-align: center;
        width: 92.5%;
        margin-left: 3.2%;
    }

    .top-card-images{
        margin-top: 13.8%;
    }

    .middle-banners{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .middle-banners-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 6.4vmin;
    }

    .middle-banner-imgs{
        width: 100%;
    }

    .middle-banner{
        margin-bottom: 19.4%;
    }

    .wrapper-mobile{
        display: flex;
        justify-content: center;
        gap: 4%;
        width: 100%;
        height: 32%;
        margin-bottom: 5%;
    }

    .middle-banner-imgs-mobile{
        width: 42.8%;
        height: 100%;
    }

    .middle-banner-img{
        width: 89.2%;
        align-self: center;
    }

    .botton-card{
        width: 96%;
    }

    .bottom-infocard{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 21%;
    }

    .bottom-infocard-text{
        padding: 0;
        min-width: 84.5%;
    }

    .texto-footer{
        width: 55%;
        text-align: center;
    }

    .imagens-logo{
        width: 100%;
    }
}